*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body
{
    margin: 50px;

}

.wrapper{
    max-width: 900px;
    margin: auto;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}